body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2em;
    color: #333;
}

input[type="text"] {
    width: 60%;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}

button {
    padding: 10px 15px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

button:hover {
    background-color: #45a049;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    transition: background-color 0.2s;
}

li:hover {
    background-color: #f0f0f0;
}

li input[type="text"] {
    flex-grow: 1;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
}

li input[type="text"]:disabled {
    background-color: #e0e0e0;
}

li input[type="checkbox"] {
    margin-right: 10px;
}

li button {
    margin-left: 10px;
}

li span {
    font-size: 0.8em;
    color: #555;
    padding-left: 10px;
}

.completed {
    text-decoration: line-through;
    color: #888;
}

.completed-task {
    background-color: #4098ad;
}

.line-through-todoVar {
  text-decoration: line-through;
}

@media only screen and (max-width: 600px) {
    input[type="text"] {
        width: 100%;
    }

    button {
        width: 100%;
    }

    li {
        flex-direction: column;
        align-items: flex-start;
    }
}